body {
    background-color: #FFD8C3;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

.container {
    max-width: none; /* Убираем максимальную ширину */
    width: 100%; /* Устанавливаем ширину 100% */
    padding-left: 16px; /* Убедитесь, что вы оставили паддинг */
    padding-right: 16px; /* Убедитесь, что вы оставили паддинг */
    margin: 0; /* Убираем отступы */
}

/* Задайте отступы для всей шапки */
.header {
    position: relative;
    width: 100%; /* Занимает всю ширину */
    min-width: 365px; /* Минимальная ширина */
    min-height: 648px;
    background-image: url(./images/Photo-Natali.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; /* Выравнивание по левому краю */
    transition: all 0.3s ease;
}

.menu-open-button {
    position: absolute; /* Абсолютное позиционирование внутри модалки */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: rgba(255, 216, 195, 0.70); /* Фон кнопки */
    fill: #534139; /* Цвет иконки */
    border-radius: 50%; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background 0.3s ease; /* Плавный переход для фона */
    padding: 10px; /* Padding для кнопки */
    z-index: 20; /* Высокий z-index для того, чтобы кнопка была над контентом */
}


.menu-open-button:active {
    background: rgba(255, 216, 195, 0.30);
}

.menu-open-button:focus {
    outline: none;
    background: rgba(255, 216, 195, 0.30);
}

/* Контент */
.content {
    max-width: 100%;
    padding: 0 0 37px 0; /* Убраны боковые отступы */
    color: #fff;
margin: 0;
}

/* Заголовок */
.header-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* Текст */
.header-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
}

/* Навигация */
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 16px; /* Отступы по 16px с каждой стороны */
}

.header-menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.header-menu-item {
    font-size: 16px;
}

.header-menu-link {
    text-decoration: none;
    color: #333;
}

/* Мобильные стили */
.mob-menu-list {
    display: none; /* Скрываем мобильное меню по умолчанию */
    flex-direction: column; /* Вертикальное направление */
    width: 100vw; /* Ширина меню на всю ширину экрана */
    height: 100vh; /* Высота меню на всю высоту экрана */
    background: rgba(255, 216, 195, 0.70); /* Фон для мобильного меню */
    position: fixed; /* Фиксируем модальное окно относительно экрана */
    top: 0; /* Расположим меню сверху */
    left: 0; /* Привязываем меню к левому краю */
    padding: 105px 16px 20px 16px; /* Отступы внутри меню */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 0px 20px; /* Закругленные углы */
    z-index: 10; /* Устанавливаем высокий z-index, чтобы меню всегда было сверху */
   
}


.mob-menu-item {
    margin-bottom: 41px;
    padding: 0 16px; 
}

.mob-menu-link {
    text-decoration: none; 
    color: #333; 
}


.basis{
    display: flex;
    width: 100%; /* Занимает всю ширину */
    min-width: 365px; /* Минимальная ширина */
    padding: 44px 0; /* Убедитесь, что только сверху и снизу */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Выравнивание по левому краю */
    gap: 10px;
    background: #4C4645;
    backdrop-filter: blur(25px);
    position: relative;
    overflow: hidden; 
}
.start-your-way-text{
    align-self: stretch;
color: #FFFAF5;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: small-caps;

}
.image-container {
    position: relative;
    height: 350px; /* Убедитесь, что эта высота соответствует видимой половине изображения */
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы контейнера */
}

.basis-head {
 position: absolute; 
    top: -10%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -100%) rotate(0deg); /* Убедитесь, что верхняя часть видна */
    transition: transform 0.2s; 
    width: 699px;
    height: 699px;
}

  body.scroll .basis-head {
    transform: translateX(-50%) rotate(10deg); /* Поворот на 10 градусов */
  }

  .Help-you {
    padding: 0 16px; /* Убедитесь, что добавили паддинги для контейнера */
}

.black-line {
    height: 2px; /* Высота полосы */
    background-color: black; /* Цвет полосы */
    margin: 54px 0; /* Отступ сверху и снизу от полосы */
    width: 100%; /* Ширина полосы на всю ширину контейнера */
}

.Help-you-text{
flex-shrink: 0;
 color: #4C4645;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: small-caps;
flex-shrink: 0;
}

.Help-you-history-text{
    flex-shrink: 0;
    color: #4C4645;
   font-family: Montserrat;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   font-variant: small-caps;
   }
   .Certificate {
    background-color: rgba(255, 216, 195, 0.8); /* Полупрозрачный фон */
    padding: 40px 16px; /* Отступы секции */
    text-align: center; /* Центрирование текста */
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    overflow: hidden; /* Скрываем переполнение */
}

.black-line {
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.Certificate {
    background-color: rgba(255, 216, 195, 0.8); /* Полупрозрачный фон */
    padding: 40px 16px; /* Отступы секции */
    text-align: center; /* Центрирование текста */
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    overflow: hidden; /* Скрываем переполнение */
}

.black-line {
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.Certificate-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px; /* Отступ сверху */
}

.certificates-slider {
    position: relative;
    overflow: hidden; /* Скрываем переполнение */
}

.certificates-wrapper {
    overflow: hidden; /* Скрываем слайды за пределами видимой области */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; /* Ширина контейнера */
}

.certificate {
    flex-shrink: 0;
    width: 365px; /* Ширина каждого сертификата */
    height: 547px; /* Высота сертификата */
    margin-right: 10px;
    object-fit: cover;
}
.certificate-image {
    width: 100%; /* Полная ширина изображения */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}

.swiper-container {
    width: 100%;
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6; /* Прозрачность для боковых карточек */
    transition: opacity 0.3s ease;
  }
  
  .swiper-slide-active {
    opacity: 1; /* Полная видимость для активного слайда */
  }
  
  .certificate-image {
    width: 80%; /* Уменьшение размера изображения */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
  }
  .modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Фиксируем его на экране */
    top: 0; /* Привязываем к верхней части */
    left: 0; /* Привязываем к левому краю */
    width: 100vw; /* Ширина на всю ширину экрана */
    height: 100vh; /* Высота на всю высоту экрана */
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    z-index: 100; /* Высокий z-index для отображения поверх всего */
}

.modal img {
    max-width: 90%; /* Ограничиваем максимальную ширину изображения */
    max-height: 90%; /* Ограничиваем максимальную высоту изображения */
    border-radius: 10px; /* Закругленные углы для изображения */
}

/* Анимация прокрутки */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Прокручиваем на 100% */
}

/* Мобильные стили */
@media (max-width: 768px) {
    .header-navigation {
        display: none; 
    }

    .menu-open-button {
        display: none; 
    }

    .mob-menu-list {
        display: none; 
    }
}
@media (min-width: 768px) {
.header {
    background-image: url(./images/Photo-Natali2x.jpg);
}
}
@media (min-width: 1024px) {
    .menu-open-button {
        display: none; 
    }

    .mob-menu-list {
        display: none; 
    }
}