.about-me{
    width: 100%;
    min-width: 365px;
    padding: 44px 0;
    margin-bottom: 24px;
}
.about-me-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 10px;
}

.about-me-alltext{
    display: flex;
    flex-direction: column;
}
.about-me-title {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    font-variant: small-caps;
    color: var(--brown);
    text-align: left;
}

.about-me-content{
    color: var(--black);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
font-variant: small-caps;
line-height: 1.1;
letter-spacing: -0.04em;}

.image-container-about-me {
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Центрируем изображение */
    align-items: flex-start; /* На мобильных выравнивание сверху */
    position: relative;
    width: 100%; /* Гарант/* Скрывает содержимое, выходящее за пределы контейнера */
}

.about-me-head {
  transition: transform 0.1s ease-out;
       width: 699px;
       height: 699px;
   }
   body.scroll .about-me-head {
    transform: translateX(-50%) rotate(10deg); 
  }


  @media screen and (min-width: 1024px) {
    .about-me {
        max-height: 640px;
        padding: 80px 0;
        gap: 0;
    }
    .about-me-container{
        flex-direction: row-reverse; /* Меняем на row */
        justify-content: center; /* Размещаем элементы с интервалом между ними */
        align-items: center;
        gap: 0;
    }
    .about-me-alltext{
        max-width: 477px;
    }
    .about-me-title {
        font-size: 32px;
    }

    .about-me-content {
        font-size: 32px;
        max-width: 482px;
        text-align: left
    }

    .image-container-about-me {
        max-width: 555px;
        max-height: 555px;
        align-items: center;

    }

    .about-me-head {
        width: 430px;
        height: 430px;
    }
}