
.basis{
 width: 100%;
    min-width: 365px;
    padding: 44px 0;
    background: var(--brown);
    backdrop-filter: blur(25px);
    margin-bottom: 24px;
}

.basis-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.start-your-way-text{
    color: var(--white);
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    font-variant: small-caps;
    line-height: 1.1;
    letter-spacing: -0.04em;
    max-width: 100%;
    padding-right: 20px;

}
.image-container {
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    position: relative;
    width: 100%;
}


.basis-head {
    transition: transform 0.1s ease-out;
    width: 699px;
    height: 699px;
}

  body.scroll .basis-head {
    transform: translateX(-50%) rotate(10deg); 
  }

   @media screen and (min-width: 1024px) {
    .basis {
        padding: 43px 0;
        gap: 0;
        margin-bottom: 100px;
    }
    .basis-container{
        flex-direction: row; 
        justify-content: center; 
        align-items: center;
        gap: 0;
    }

    .start-your-way-text {
        padding-right: 0;
        font-size: 32px;
        max-width: 482px;
        text-align: left
    }

    .image-container {
        max-width: 555px;
        max-height: 555px;
        align-items: center;

    }

    .basis-head {
        width: 430px;
        height: 430px;
    }
}
@media screen and (min-width: 1440px) {

    .basis{
           margin-bottom: 80px;
       }
    .start-your-way-text {
        max-width: none;
    }

}