.certificate {
    padding: 40px 0;
    background-color: #ffece4;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; 
    position: relative;
}

.swiper-wrapper {
    display: flex; 
    transition: transform 0.3s ease;
    align-items: center; 
}


.swiper-slide {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.swiper-slide img {
    width: 100%; /* Растягивает изображение по ширине контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    max-height: 202px; /* Ограничивает максимальную высоту */
    object-fit: fill; /* Делает изображение растянутым по горизонтали */
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}
  
.black-line-certificate {
    height: 2px;
    background-color: black;
    max-width: 1319px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.certificate-text {
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-variant: small-caps;
}

.modal-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.information {
    min-width: 365px;
    padding: 44px 0;
    border: 2px solid var(--brown);
    background: var(--brown);
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information-text {
    min-width: 333px;
    font-family: Montserrat;
    color: var(--white);
    font-size: 20px;
    font-variant: small-caps;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.04em;
}


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


@media (min-width: 768px) {
    .swiper-slide {
        max-width: 758px;
    }
    .swiper-slide img {
        min-height: 539px;
    }
    .swiper-container {
        padding: 0 40px; 
    }

    .swiper-slide {
        width: 33.33%;
    }
}

@media (min-width: 1024px) {
    .certificate {
        padding: 80px 0;
        background-color: #ffece4;
    }
   
    .certificate-text {
        font-size: 32px;
    }

    .information {
        margin-bottom: 100px;
        padding: 100px 0;
        min-width: 924px;
    }

    .information-text {
        font-size: 40px;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 1440px) {
    .certificate-text {
        max-width: 1319px;
    }

    .information-text {
        max-width: 1319px;
    }

    .information {
        margin-bottom: 80px;
    }
}
