.certificate {
    padding: 74px 0 44px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    overflow: visible; /* Этот стиль не обязателен, если у вас нет скрытых элементов */
    flex-shrink: 0;
    min-width: 365px;
    margin-bottom: 24px;
}

.swiper-container {
    width: 100%; /* Используем всю ширину контейнера */
    overflow: visible; /* Разрешаем показывать соседние элементы */
    padding: 0 20px; /* Отступы по бокам */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px; /* Ширина для каждого слайда */
    opacity: 0.6;
    transition: opacity 0.3s ease;
    /* Добавим отступ слева, чтобы слайд не прилипал к краю */
    margin: 0 10px; /* Отступы между слайдами */
}

.swiper-slide-active {
    opacity: 1; /* Полная видимость активного слайда */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.modal-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.information {
    min-width: 365px;
    display: flex;
    padding: 44px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--brown);
    background: var(--brown);
    margin-bottom: 24px;
}

.information-text {
    min-width: 333px;
    font-family: Montserrat;
    color: var(--white);
    font-size: 20px;
    font-variant: small-caps;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

/* Анимация автоматической прокрутки */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
