.header {
    position: relative;
    width: 100%;
    min-width: 365px;
    min-height: 648px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all 0.3s ease;
    background-image: url(../images/Photo-Natali-mob.jpg); /* Фоновое изображение для мобильной версии */
}

/* Заголовок */
.header-title {
    font-family: Montserrat;
    font-style: normal;
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

/* Текст под заголовком */
.header-text {
    color: var(--white);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

/* Навигация */
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 16px;
}

.header-menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.header-menu-item {
    font-size: 16px;
}

.header-menu-link {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: var(--medium-brown);
}

.header-menu-link:hover,
.header-menu-link:active{
    color: var(--orange);
    transition: 0.5s;
}

/* Основной контент */
.content {
    max-width: 100%;
    padding: 0 0 37px 0;
    color: var(--white);
    margin: 0;
}

/* Мобильные стили */
@media screen and (max-width: 1023px) {

    .header-navigation {
        display: none;
    }
    .certificate-image {
        width: 80%;
        max-width: 300px;
    }

    .menu-open-button, .mob-menu-list {
        display: block;
    }
}

/* Стили для планшета */
@media screen and (min-width: 768px) {
    .header {
        background-image: url(../images/Photo-Natali-mob.jpg); /* Фоновое изображение для планшета */
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .header {
        background-image: url(../images/Photo-Natali-mob2x.jpg); /* Высокое разрешение для планшета */
    }
}


@media screen and (min-width: 1024px) {
    /* Фоновое изображение для десктопной версии */
    .header {
        display: flex;
    flex-direction: column;
    justify-content: space-between; 
        background-size: cover;
        background-image: url(../images/Photo-Natali-max.jpg);
        min-height: 1085px;
    }

    /* Десктопная навигация */
    .header-navigation {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        padding: 20px 49px;
        background: rgba(255, 216, 195, 0.7);
        backdrop-filter: blur(7.5px);
        width: 100%;

    }

    .header-menu-list {
        gap: 51px;
    }

    .header-container {
        display: flex;
        flex-direction: column; 
        height: 100%; 
    }

    /* Основной контент внизу */
    .content {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;  
        margin-top: auto; 
        gap: 12px;
        padding-bottom: 30px;
        
    }

    .header-title {
        max-width: 525px;
        font-size: 64px;
    }

    .header-text {
        font-size: 32px;
    }

    /* Скрываем мобильное меню на десктопе */
    .menu-open-button, .mob-menu-list {
        display: none;
    }

}

/* Retina и экраны высокого разрешения */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
screen and (min-resolution: 192dpi) and (min-width: 1024px),
screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .header {
        background-image: url(../images/Photo-Natali-max2x.jpg); /* Высокое разрешение для десктопа */
    }
}
