.help-you {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 44px 0;
}

.help-you-content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: left; 
    align-self: stretch;
}

.help-you-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; /* Отступ между иконкой и текстом */
}

.help-you-icon {
    display: none;
}

.text-and-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.help-you-text, .help-you-history-text {
    color: var(--brown);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-variant: small-caps;
    min-width: 333px;
    text-align: left; /* Выравнивание текста по левому краю */
}

.black-line {
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 54px;
}

@media screen and (min-width: 1024px) {
    .help-you {
        padding: 80px 0;
        margin-bottom: 100px;
    }

    .help-you-content {
        flex-direction: row;  /* Горизонтальное расположение на больших экранах */
        justify-content: flex-start;  /* Выравниваем по левому краю */
        align-items: flex-start; /* Центрируем по вертикали */
    }

    .help-you-text, .help-you-history-text {
        font-size: 28px; /* Увеличиваем размер текста на больших экранах */
    }

    .black-line {
        margin-top: 41px;
        margin-bottom: 41px;
        width:100%; /* Черная линия будет меньше по ширине на больших экранах */
    }
    .help-you-icon {
        display: block;
    }
}
