.menu-open-button {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: rgba(255, 216, 195, 0.70); 
    border: none; 
    border-radius: 0px 20px;
    z-index: 11; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    padding: 10px;

}

.mob-menu-list {
    display: none;
    flex-direction: column; 
    width: 100%; 
    height: 100%; 
    background: rgba(255, 216, 195, 0.70); 
    position: fixed;
    top: 0; 
    left: 0; 
    padding: 105px 16px 20px 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px 20px;
    z-index: 10; 
    transform: translateY(-100%);
    transition: transform 0.3s ease; 
    overflow-y: auto;
}

.mob-menu-list.open {
    display: flex;
    transform: translateY(0);
    
}

.mob-menu-item {
    margin-bottom: 41px;
    padding: 0 16px; 
}

.mob-menu-link {
    text-decoration: none; 
    color: var(--medium-brown); 
}

.mob-menu-link:hover,
.mob-menu-link:active{
    color: var(--orange) 
}

.menu-open-button.active {
    position: fixed;
    background: transparent; 
}
