.menu-open-button {
    position: absolute; /* Абсолютное позиционирование внутри header */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: rgba(255, 216, 195, 0.70); /* Фон кнопки совпадает с фоном меню */
    border: none; /* Убираем границу у кнопки */
    border-radius: 0px 20px; /* Закругленные углы */
    z-index: 11; /* Высокий z-index для того, чтобы кнопка была над контентом */
    cursor: pointer; /* Курсор при наведении */
    transition: background 0.3s ease; /* Плавный переход для фона */
    padding: 10px; /* Отступы для кнопки */

}

.mob-menu-list {
    display: none; /* Скрываем мобильное меню по умолчанию */
    flex-direction: column; /* Вертикальное направление */
    width: 100%; /* Ширина меню на всю ширину экрана */
    height: 100%; /* Высота меню на всю высоту экрана */
    background: rgba(255, 216, 195, 0.70); /* Фон для мобильного меню */
    position: fixed; /* Фиксируем модальное окно относительно экрана */
    top: 0; /* Расположим меню сверху */
    left: 0; /* Привязываем меню к левому краю */
    padding: 105px 16px 20px 16px; /* Отступы внутри меню */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 0px 20px; /* Закругленные углы */
    z-index: 10; /* Устанавливаем высокий z-index, чтобы меню всегда было сверху */
    transform: translateY(-100%); /* Скрываем меню по вертикали */
    transition: transform 0.3s ease; /* Плавный переход для выезжающего меню */
}

.mob-menu-list.open {
    display: flex; /* Показываем меню */
    transform: scaleY(1); /* Выдвигаем меню на экран */
}

.mob-menu-item {
    margin-bottom: 41px;
    padding: 0 16px; 
}

.mob-menu-link {
    text-decoration: none; 
    color: var(--medium-brown); 
}

.menu-open-button.active {
    background: transparent; /* Убираем фон кнопки, когда она активна */
}

.menu-open-button:focus {
    outline: none;

}