.social {
    display: flex;
    justify-content: center;
    padding-top: 44px;
    padding-bottom: 44px;
    background-color: var(--brown);
    margin-bottom: 24px;
}

.social-content {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    gap: 0; 
}

.social-button-wrapper {
    margin-top: 20px; 
}


.social-text {
    color: var(--white);
    text-align: center;
    font-family: Cormorant Infant;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}


.social-button .social-icon {
    outline: none;
    -webkit-tap-highlight-color: transparent; 
    transition: fill 0.5s ease; 
}

.social-button:hover .social-icon {
    fill: #FFD8C3; 
}

.social-button:active .social-icon {
    fill: #FFD8C3; 
}

.last-button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 136px;
}


.arrow-up {
    position: fixed; 
    bottom: 20px; 
    right: 16px; 
    z-index: 1000; 
    cursor: pointer; 
}
.arrow-icon{
background: rgba(251, 71, 35, 0.50);
;
width: 30px;
height: 30px;
flex-shrink: 0;
border-radius: 0 5px;
}

@media screen and (min-width: 1024px) {
    .social {
        padding: 80px 0;
        margin-bottom: 80px;
    }
    .social-content {
        flex-direction: row; 
        justify-content: center;
        gap: 170px;
    }
    .social-text {
        font-size: 64px;
    }
}

@media screen and (min-width: 1440px) {
    .social-content {
        gap: 179px;
    }
}

@media screen and (min-width: 1600px) {
    .social-content {
        gap: 369px;
    }
}