
@import url('./header.css');
@import url('./mob-menu.css');
@import url('./basis.css');
@import url('./help-you.css');
@import url('./certificate.css');
@import url('./about-me.css');
@import url('./work-with.css');
@import url('./consultation.css');
@import url('./client.css');
@import url('./confidentialit.css');
@import url('./social.css');


h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

.container {
    max-width: none; 
    width: 100%; 
    padding: 0 16px;
    margin: 0; 
}

body {
    font-family: Montserrat, sans-serif;
    --brown: #4C4645;
  --black: #1F1F1F;
  --light-brown: #B9917F;
  --white: #ffffff;
  --beige: #FFEDE3;
  --medium-brown: #534139;
  --orange: #FB4723;
    /* transition variables */
    --color-250ms: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --background-color-250ms: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-color-250ms: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--beige, #FFEDE3);
    box-sizing: border-box;}



    :root {
        font-family: Montserrat;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-synthesis: none;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-text-size-adjust: 100%;
          
        }
      
        @media screen and (min-width: 1024px) {
            .container{
               padding: 0 50px;
            }
        }
        @media screen and (min-width: 1440px) {
            .container{
               padding: 0 164px;
            }
        }
