.work-with{
    display: flex;
    background: var(--brown);
    padding-top: 44px;
    padding-bottom: 44px;
    margin-bottom: 24px;
}

.work-with-block {
    display: flex;
    flex-direction: column;
    max-width: 1064px; /* Максимальная ширина блока */
    margin: 0 auto; /* Центрируем блок по горизонтали */
}


.work-with-head{
    color: var(--white);
font-family: "Cormorant Infant";
font-size: 40px;
font-style: normal;
font-weight: 700;
text-transform: capitalize;
line-height: 1.1;
letter-spacing: -0.04em;
padding-bottom: 48px;
}

    .work-with-list{ 
        display: flex;
flex-direction: column;
gap: 48px;
align-self: stretch;
    }


    .work-with-content{
        display: flex;
        flex-direction: column;
        align-items: center; /* Выравниваем элементы слева */
        width: 100%; /* По умолчанию карточки занимают всю ширину */
        max-width: 333px; /* Ограничиваем ширину карточки на мобильных */
        margin: 0 auto; /* Центруем карточки на мобильных */
        gap: 39px;
        padding: 48px 29px 48px 29px;
        border-radius: 0px 20px;
        background: var(--white);
        backdrop-filter: blur(25px);
        box-sizing: border-box;
    }
    .work-with-content h3{
        text-align: left;
        color: var(--brown);
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        font-variant: small-caps;
        line-height: 1.1;
        letter-spacing: -0.04em;
        align-self: flex-start;
    }
    .work-with-list-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 0;
        margin: 0; /* Убираем лишние внешние отступы */
        list-style: disc inside;
    }

    .work-with-list-content li{
        max-width: 275px;
        color: var(--brown);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: -0.04em;
        font-variant: small-caps;
        list-style-type: disc;

    }
    @media screen and (min-width: 1024px) {
        .work-with{
            padding: 80px 0;
            margin-bottom: 100px;
        }
        .work-with-list {
          display: grid;
          grid-template-columns: repeat(2, calc((100% - 48px) / 2));
          gap: 28px; 
          justify-content: center;
        }
        .work-with-head{
            font-size: 64px;
            margin: 0 auto;
        }

        .work-with-content {
            max-width: 447px;
          transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация для поднятия */
        }
      
        /* При наведении поднимаем блок и изменяем стиль */
        .work-with-content:hover {
          transform: translateY(-10px); /* Поднимаем блок */
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Добавляем тень */
        }
      
        /* Стили иконки при наведении */
        .work-with-content:hover svg {
          fill: #FB4723; /* Изменяем цвет иконки на оранжевый */
        }
        .work-with-list-content li{
            max-width: 347px;
        }
      }
      @media screen and (min-width: 1440px) {


        .work-with-content{
            max-width: 532px; /* Ограничиваем максимальную ширину карточки */

        }
    }
    